[Unit]
Description=Service for collecting and sending statistic

[Service]
Restart=always
EnvironmentFile=/etc/default/node-exporter
ExecStart=/opt/node-exporter $ARGS

[Install]
WantedBy=multy-user.target